<a href="https://colab.research.google.com/github/Leakathr1n/Foundations_of_Data_Science_Cargo2000/blob/main/Project_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Foundations of Data Science project notebook**

Team members:  

Predictive Question:

# **Packages needed to run this notebook**
We install and import all necessary libaries for this notebook in the following code cell

In [36]:
library(dplyr) # needed for basic transformation on the DS
library(readxl) # needed to open and read xlsx-files
library(tidyr) # neeeded for reshaping
library(ggplot2) # needed for plotting

# **Downloading and Cleaning the Data**

In [19]:
system("gdown 19zj1uN65nQVoGdFHQxtxrDVxflopCAuQ6AwR-LXQSuA")
raw_data <- read_excel("/content/c2k_data_comma.xlsx")

New names:
• `` -> `...99`

In [20]:
head(raw_data)

  nr i1_legid i1_rcs_p i1_rcs_e i1_dep_1_p i1_dep_1_e i1_dep_1_place i1_rcf_1_p
1 0  5182      199      218     210        215        609             935
2 1  6523      844      584      90        297        700            1935
3 2  5878     4380     4119      90        280        456             905
4 3  1275      759      169     240        777        173             340
5 4  8117     1597     1485     150        241        411             585
6 5  9889      181       98     240        259        815             215
  i1_rcf_1_e i1_rcf_1_place ⋯ o_dep_3_e o_dep_3_place o_rcf_3_p o_rcf_3_e
1  736       256            ⋯ ?         ?             ?         ?
2 1415       431            ⋯ ?         ?             ?         ?
3  547       700            ⋯ ?         ?             ?         ?
4  577       349            ⋯ ?         ?             ?         ?
5  612       128            ⋯ ?         ?             ?         ?
6  223       128            ⋯ ?         ?             ?         ?
  o_rcf_3_place o_dlv_p o_dlv_e o_hops legs ...99
1 ?              780     434    1      2    NA
2 ?             3870     445    1      2    NA
3 ?              550    1520    1      1    NA
4 ?             3780     159    1      1    NA
5 ?             4140    4797    2      1    NA
6 ?             3960     467    1      2    NA

## **Cleaning the data**

We are now cleaning our data and store it in clean_data

In [21]:
# removing the unnecessary last column
clean_data <- raw_data[, !names(raw_data) %in% "...99"]

In [38]:
# converting all columns into numerical, except for "factors" or categorical variables!
# this also ensures that all our "?" are converted in NA;)

clean_data <- clean_data %>%
  mutate(
    across(!matches("id|leg|hops", ignore.case = TRUE), as.numeric), # convert into numeric
    across(matches("id|leg|hops", ignore.case = TRUE), as.factor) # convert into factors
  )

In [30]:
head(clean_data)

  nr i1_legid i1_rcs_p i1_rcs_e i1_dep_1_p i1_dep_1_e i1_dep_1_place i1_rcf_1_p
1 0  5182      199      218     210        215        609             935
2 1  6523      844      584      90        297        700            1935
3 2  5878     4380     4119      90        280        456             905
4 3  1275      759      169     240        777        173             340
5 4  8117     1597     1485     150        241        411             585
6 5  9889      181       98     240        259        815             215
  i1_rcf_1_e i1_rcf_1_place ⋯ o_dep_3_p o_dep_3_e o_dep_3_place o_rcf_3_p
1  736       256            ⋯ NA        NA        NA            NA
2 1415       431            ⋯ NA        NA        NA            NA
3  547       700            ⋯ NA        NA        NA            NA
4  577       349            ⋯ NA        NA        NA            NA
5  612       128            ⋯ NA        NA        NA            NA
6  223       128            ⋯ NA        NA        NA            NA
  o_rcf_3_e o_rcf_3_place o_dlv_p o_dlv_e o_hops legs
1 NA        NA             780     434    1      2
2 NA        NA            3870     445    1      2
3 NA        NA             550    1520    1      1
4 NA        NA            3780     159    1      1
5 NA        NA            4140    4797    2      1
6 NA        NA            3960     467    1      2

## **Analysing the NA's**

We have seen that our dataset has quite a lot of missing values. While they were initially encoded as "?", when we converted them into numerical values, the question mark was converted into a proper R "NA". We will now dive deeper into the missing values and explore if there is a pattern.

For convenience, we add an overview of the dataset here. This will also help us explaining the relationship between the missing values.

![Alt text](https://raw.githubusercontent.com/Leakathr1n/Foundations_of_Data_Science_Cargo2000/main/99%20Additional%20material/Overview%20of%20dataset.png)

In [31]:
# Let's start with a very broad overview
summary(clean_data)

# quite a lot of missing values; let's see if we can bring some structure to this;)

# per leg, we can display each hoop in a seperate chart
# per leg and hoop: create bar charts that show the share of NA's

# check if # of hops corresponds to NA's (which it will hehe)

       nr            i1_legid       i1_rcs_p          i1_rcs_e
 Min.   :   0.0   1      :   1   Min.   :    5.0   Min.   :    1
 1st Qu.: 986.2   2      :   1   1st Qu.:  377.8   1st Qu.:  113
 Median :1971.5   7      :   1   Median : 1085.0   Median :  340
 Mean   :1971.3   9      :   1   Mean   : 2203.5   Mean   : 1653
 3rd Qu.:2956.8   13     :   1   3rd Qu.: 1946.5   3rd Qu.: 1375
 Max.   :3942.0   14     :   1   Max.   :47190.0   Max.   :46357
                  (Other):3936
   i1_dep_1_p       i1_dep_1_e     i1_dep_1_place    i1_rcf_1_p
 Min.   :  75.0   Min.   :   4.0   Min.   :101.0   Min.   :  50
 1st Qu.: 120.0   1st Qu.: 263.0   1st Qu.:308.0   1st Qu.: 455
 Median : 180.0   Median : 516.0   Median :485.0   Median : 820
 Mean   : 205.9   Mean   : 711.4   Mean   :503.7   Mean   : 796
 3rd Qu.: 240.0   3rd Qu.: 949.8   3rd Qu.:700.0   3rd Qu.:1020
 Max.   :2876.0   Max.   :9513.0   Max.   :815.0   Max.   :5001

   i1_rcf_1_e      i1_rcf_1_place    i1_dep_2_p        i1_dep_2_e
 Min.   :   13.0   Min.   :101.0   Min.   :    5.0   Min.   :   35.0
 1st Qu.:  274.0   1st Qu.:281.0   1st Qu.:  350.0   1st Qu.:  474.5
 Median :  657.5   Median :485.0   Median :  650.0   Median :  801.0
 Mean   :  666.4   Mean   :466.7   Mean   :  890.6   Mean   : 1018.9
 3rd Qu.:  883.0   3rd Qu.:700.0   3rd Qu.: 1195.0   3rd Qu.: 1295.0
 Max.   :38116.0   Max.   :815.0   Max.   :10690.0   Max.   :11550.0
                                   NA's   :2747      NA's   :2747
 i1_dep_2_place    i1_rcf_2_p       i1_rcf_2_e     i1_rcf_2_place
 Min.   :128.0   Min.   :  35.0   Min.   :  18.0   Min.   :101.0
 1st Qu.:128.0   1st Qu.: 535.0   1st Qu.: 334.5   1st Qu.:308.0
 Median :349.0   Median : 760.0   Median : 623.0   Median :441.0
 Mean   :419.7   Mean   : 878.4   Mean   : 688.0   Mean   :463.4
 3rd Qu.:700.0   3rd Qu.:1060.0   3rd Qu.: 850.5   3rd Qu.:665.0
 Max.   :815.0   Max.   :5001.0   Max.   :4827.0   Max.   :815.0
 NA's   :2747    NA's   :2747     NA's   :2747     NA's   :2747
   i1_dep_3_p     i1_dep_3_e     i1_dep_3_place    i1_rcf_3_p
 Min.   :  30   Min.   :  11.0   Min.   :128.0   Min.   : 255.0
 1st Qu.: 470   1st Qu.: 238.5   1st Qu.:374.5   1st Qu.: 682.5
 Median : 750   Median : 523.0   Median :500.0   Median : 845.0
 Mean   : 978   Mean   : 968.3   Mean   :527.5   Mean   : 872.9
 3rd Qu.:1322   3rd Qu.:1440.5   3rd Qu.:815.0   3rd Qu.: 967.5
 Max.   :4240   Max.   :4329.0   Max.   :815.0   Max.   :1620.0
 NA's   :3919   NA's   :3919     NA's   :3919    NA's   :3919
   i1_rcf_3_e     i1_rcf_3_place     i1_dlv_p       i1_dlv_e     i1_hops
 Min.   : 171.0   Min.   :134.0   Min.   : 180   Min.   :    1   1:2747
 1st Qu.: 631.5   1st Qu.:317.0   1st Qu.:3420   1st Qu.:  212   2:1172
 Median : 803.0   Median :441.0   Median :3780   Median :  863   3:  23
 Mean   : 796.3   Mean   :493.3   Mean   :3694   Mean   : 2251
 3rd Qu.: 986.0   3rd Qu.:678.0   3rd Qu.:4230   3rd Qu.: 2176
 Max.   :1455.0   Max.   :815.0   Max.   :9915   Max.   :90977
 NA's   :3919     NA's   :3919
    i2_legid       i2_rcs_p        i2_rcs_e       i2_dep_1_p
 ?      :1318   Min.   :    7   Min.   :    1   Min.   :  90.0
 10.0   :   1   1st Qu.:  400   1st Qu.:  116   1st Qu.: 120.0
 10001.0:   1   Median : 1118   Median :  389   Median : 180.0
 10008.0:   1   Mean   : 2321   Mean   : 1768   Mean   : 208.5
 10013.0:   1   3rd Qu.: 2022   3rd Qu.: 1442   3rd Qu.: 240.0
 10018.0:   1   Max.   :42314   Max.   :37927   Max.   :1500.0
 (Other):2619   NA's   :1318    NA's   :1318    NA's   :1318
   i2_dep_1_e     i2_dep_1_place    i2_rcf_1_p       i2_rcf_1_e
 Min.   :   1.0   Min.   :101.0   Min.   :  50.0   Min.   :   9.0
 1st Qu.: 260.8   1st Qu.:308.0   1st Qu.: 455.0   1st Qu.: 284.0
 Median : 528.5   Median :485.0   Median : 825.0   Median : 676.0
 Mean   : 731.8   Mean   :505.1   Mean   : 810.6   Mean   : 665.7
 3rd Qu.: 975.2   3rd Qu.:700.0   3rd Qu.:1040.0   3rd Qu.: 901.0
 Max.   :8342.0   Max.   :815.0   Max.   :5001.0   Max.   :5091.0
 NA's   :1318     NA's   :1318    NA's   :1318     NA's   :1318
 i2_rcf_1_place    i2_dep_2_p       i2_dep_2_e     i2_dep_2_place
 Min.   :101.0   Min.   :   5.0   Min.   :  46.0   Min.   :128.0
 1st Qu.:281.0   1st Qu.: 360.0   1st Qu.: 470.5   1st Qu.:128.0
 Median :485.0   Median : 705.0   Median : 806.0   Median :349.0
 Mean   :471.9   Mean   : 896.5   Mean   :1012.8   Mean   :438.9
 3rd Qu.:700.0   3rd Qu.:1210.0   3rd Qu.:1307.5   3rd Qu.:700.0
 Max.   :815.0   Max.   :9635.0   Max.   :8873.0   Max.   :815.0
 NA's   :1318    NA's   :3151     NA's   :3151     NA's   :3151
   i2_rcf_2_p       i2_rcf_2_e      i2_rcf_2_place    i2_dep_3_p
 Min.   :  50.0   Min.   :   18.0   Min.   :101.0   Min.   :  35.0
 1st Qu.: 510.0   1st Qu.:  318.0   1st Qu.:308.0   1st Qu.: 130.0
 Median : 745.0   Median :  631.0   Median :431.0   Median : 160.0
 Mean   : 863.4   Mean   :  696.9   Mean   :458.8   Mean   : 843.1
 3rd Qu.:1079.5   3rd Qu.:  849.0   3rd Qu.:628.0   3rd Qu.:1428.0
 Max.   :3649.0   Max.   :10952.0   Max.   :815.0   Max.   :2695.0
 NA's   :3151     NA's   :3151      NA's   :3151    NA's   :3928
   i2_dep_3_e     i2_dep_3_place    i2_rcf_3_p       i2_rcf_3_e
 Min.   :  76.0   Min.   :349.0   Min.   : 570.0   Min.   : 240.0
 1st Qu.: 127.5   1st Qu.:402.2   1st Qu.: 892.8   1st Qu.: 833.5
 Median : 278.0   Median :676.5   Median :1127.5   Median : 932.5
 Mean   :1030.0   Mean   :606.6   Mean   :1295.5   Mean   :1084.4
 3rd Qu.:1568.8   3rd Qu.:798.0   3rd Qu.:1200.0   3rd Qu.:1099.8
 Max.   :4245.0   Max.   :815.0   Max.   :4946.0   Max.   :3845.0
 NA's   :3928     NA's   :3928    NA's   :3928     NA's   :3928
 i2_rcf_3_place     i2_dlv_p       i2_dlv_e      i2_hops       i3_legid
 Min.   :144.0   Min.   : 240   Min.   :     1   ?  :1318   ?      :2576
 1st Qu.:433.8   1st Qu.:2880   1st Qu.:   220   1.0:1833   10000.0:   1
 Median :632.0   Median :3780   Median :   843   2.0: 777   10002.0:   1
 Mean   :603.1   Mean   :3639   Mean   :  2399   3.0:  14   1002.0 :   1
 3rd Qu.:809.0   3rd Qu.:4505   3rd Qu.:  1957              10029.0:   1
 Max.   :809.0   Max.   :9780   Max.   :527290              10031.0:   1
 NA's   :3928    NA's   :1318   NA's   :1318                (Other):1361
    i3_rcs_p          i3_rcs_e         i3_dep_1_p       i3_dep_1_e
 Min.   :    1.0   Min.   :    1.0   Min.   :  90.0   Min.   :   4.0
 1st Qu.:  418.2   1st Qu.:  122.2   1st Qu.: 120.0   1st Qu.: 261.2
 Median : 1124.5   Median :  385.5   Median : 180.0   Median : 538.5
 Mean   : 2463.5   Mean   : 1906.1   Mean   : 208.3   Mean   : 729.7
 3rd Qu.: 2161.0   3rd Qu.: 1477.5   3rd Qu.: 240.0   3rd Qu.: 981.5
 Max.   :42077.0   Max.   :41390.0   Max.   :1500.0   Max.   :6223.0
 NA's   :2576      NA's   :2576      NA's   :2576     NA's   :2576
 i3_dep_1_place   i3_rcf_1_p       i3_rcf_1_e     i3_rcf_1_place
 Min.   :101    Min.   :  60.0   Min.   :   5.0   Min.   :101.0
 1st Qu.:349    1st Qu.: 500.0   1st Qu.: 297.2   1st Qu.:281.0
 Median :485    Median : 835.0   Median : 665.0   Median :485.0
 Mean   :506    Mean   : 805.8   Mean   : 653.6   Mean   :470.4
 3rd Qu.:700    3rd Qu.:1032.0   3rd Qu.: 901.0   3rd Qu.:700.0
 Max.   :815    Max.   :3920.0   Max.   :5303.0   Max.   :815.0
 NA's   :2576   NA's   :2576     NA's   :2576     NA's   :2576
   i3_dep_2_p       i3_dep_2_e     i3_dep_2_place    i3_rcf_2_p
 Min.   :   5.0   Min.   :  66.0   Min.   :128.0   Min.   :  75.0
 1st Qu.: 400.0   1st Qu.: 499.0   1st Qu.:128.0   1st Qu.: 537.5
 Median : 700.0   Median : 830.0   Median :349.0   Median : 750.0
 Mean   : 867.4   Mean   : 997.3   Mean   :422.1   Mean   : 863.8
 3rd Qu.:1125.0   3rd Qu.:1242.5   3rd Qu.:700.0   3rd Qu.:1070.0
 Max.   :4285.0   Max.   :4533.0   Max.   :815.0   Max.   :3960.0
 NA's   :3551     NA's   :3551     NA's   :3551    NA's   :3551
   i3_rcf_2_e     i3_rcf_2_place   i3_dep_3_p       i3_dep_3_e
 Min.   :   6.0   Min.   :108    Min.   : 130.0   Min.   : 154.0
 1st Qu.: 339.5   1st Qu.:281    1st Qu.: 212.5   1st Qu.: 319.2
 Median : 631.0   Median :411    Median : 532.5   Median : 550.0
 Mean   : 684.7   Mean   :453    Mean   :1159.4   Mean   :1007.0
 3rd Qu.: 825.0   3rd Qu.:649    3rd Qu.:1458.8   3rd Qu.:1476.5
 Max.   :4169.0   Max.   :815    Max.   :4485.0   Max.   :3093.0
 NA's   :3551     NA's   :3551   NA's   :3934     NA's   :3934
 i3_dep_3_place    i3_rcf_3_p       i3_rcf_3_e     i3_rcf_3_place
 Min.   :144.0   Min.   : 570.0   Min.   : 628.0   Min.   :356.0
 1st Qu.:297.8   1st Qu.: 786.2   1st Qu.: 748.2   1st Qu.:383.8
 Median :456.0   Median : 985.0   Median : 888.0   Median :484.0
 Mean   :471.5   Mean   :1087.6   Mean   : 864.0   Mean   :521.8
 3rd Qu.:657.0   3rd Qu.:1201.5   3rd Qu.: 986.2   3rd Qu.:598.0
 Max.   :815.0   Max.   :2250.0   Max.   :1026.0   Max.   :809.0
 NA's   :3934    NA's   :3934     NA's   :3934     NA's   :3934
    i3_dlv_p       i3_dlv_e        i3_hops       o_legid        o_rcs_p
 Min.   : 240   Min.   :     1.0   ?  :2576   20     :   1   Min.   :    5
 1st Qu.:2880   1st Qu.:   220.5   1.0: 975   23     :   1   1st Qu.:  746
 Median :3780   Median :   868.0   2.0: 383   29     :   1   Median : 1392
 Mean   :3608   Mean   :  2277.4   3.0:   8   30     :   1   Mean   : 2766
 3rd Qu.:4230   3rd Qu.:  2175.2              31     :   1   3rd Qu.: 2717
 Max.   :9700   Max.   :123349.0              44     :   1   Max.   :49136
 NA's   :2576   NA's   :2576                  (Other):3936
    o_rcs_e        o_dep_1_p        o_dep_1_e       o_dep_1_place
 Min.   :    1   Min.   :  90.0   Min.   :   18.0   Min.   :101.0
 1st Qu.:  241   1st Qu.:  90.0   1st Qu.:  303.0   1st Qu.:341.0
 Median :  717   Median : 180.0   Median :  600.0   Median :485.0
 Mean   : 2140   Mean   : 207.1   Mean   :  803.9   Mean   :479.7
 3rd Qu.: 1840   3rd Qu.: 240.0   3rd Qu.: 1029.5   3rd Qu.:671.0
 Max.   :49015   Max.   :1620.0   Max.   :12256.0   Max.   :815.0

   o_rcf_1_p        o_rcf_1_e      o_rcf_1_place     o_dep_2_p
 Min.   :  45.0   Min.   :   1.0   Min.   :100.0   Min.   :    5.0
 1st Qu.: 630.0   1st Qu.: 385.0   1st Qu.:206.0   1st Qu.:  350.0
 Median : 840.0   Median : 658.5   Median :476.0   Median :  670.0
 Mean   : 855.7   Mean   : 690.3   Mean   :461.3   Mean   :  906.6
 3rd Qu.:1050.0   3rd Qu.: 920.0   3rd Qu.:700.0   3rd Qu.: 1175.0
 Max.   :4986.0   Max.   :5520.0   Max.   :815.0   Max.   :12675.0
                                                   NA's   :2097
   o_dep_2_e     o_dep_2_place     o_rcf_2_p      o_rcf_2_e
 Min.   :   24   Min.   :128.0   Min.   :  80   Min.   :   4.0
 1st Qu.:  458   1st Qu.:128.0   1st Qu.: 535   1st Qu.: 270.0
 Median :  782   Median :500.0   Median : 755   Median : 569.0
 Mean   : 1041   Mean   :461.6   Mean   : 827   Mean   : 650.6
 3rd Qu.: 1312   3rd Qu.:700.0   3rd Qu.: 950   3rd Qu.: 765.0
 Max.   :11674   Max.   :815.0   Max.   :5140   Max.   :6421.0
 NA's   :2097    NA's   :2097    NA's   :2097   NA's   :2097
 o_rcf_2_place     o_dep_3_p        o_dep_3_e      o_dep_3_place
 Min.   :101.0   Min.   :  95.0   Min.   :  88.0   Min.   :233
 1st Qu.:286.0   1st Qu.: 242.5   1st Qu.: 309.0   1st Qu.:411
 Median :468.0   Median : 680.0   Median : 751.0   Median :555
 Mean   :459.3   Mean   : 785.0   Mean   : 846.3   Mean   :546
 3rd Qu.:635.0   3rd Qu.:1116.2   3rd Qu.:1352.8   3rd Qu.:610
 Max.   :815.0   Max.   :2975.0   Max.   :3168.0   Max.   :815
 NA's   :2097    NA's   :3916     NA's   :3916     NA's   :3916
   o_rcf_3_p      o_rcf_3_e      o_rcf_3_place      o_dlv_p
 Min.   : 360   Min.   : 185.0   Min.   :128.0   Min.   :  240
 1st Qu.: 780   1st Qu.: 616.5   1st Qu.:231.5   1st Qu.: 2880
 Median : 903   Median : 758.0   Median :364.5   Median : 3780
 Mean   :1180   Mean   : 911.6   Mean   :439.0   Mean   : 3573
 3rd Qu.:1260   3rd Qu.: 922.5   3rd Qu.:573.0   3rd Qu.: 4080
 Max.   :2910   Max.   :3480.0   Max.   :809.0   Max.   :11520
 NA's   :3916   NA's   :3916     NA's   :3916
    o_dlv_e       o_hops   legs
 Min.   :     1   1:2097   1:1318
 1st Qu.:   400   2:1819   2:1258
 Median :  1202   3:  26   3:1366
 Mean   :  3699
 3rd Qu.:  3174
 Max.   :560130

In [34]:
# creating subsets per each leg & outbound
subset_i1 <- clean_data[, c("nr", grep("^i1", names(clean_data), value = TRUE))]
subset_i2 <- clean_data[, c("nr", grep("^i2", names(clean_data), value = TRUE))]
subset_i3 <- clean_data[, c("nr", grep("^i3", names(clean_data), value = TRUE))]
subset_o <- clean_data[, c("nr", grep("^o", names(clean_data), value = TRUE))]

**Exploration of the data -- Getting a first overview**